{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ rubric }}{% endblock %}

{% block searchform %}
{% endblock %}

{% block content %}
    <h2 class="mb-2">{{ rubric }}</h2>
    <div align="center">
        <a href="{{ url }}{{ all }}">
            {% if rubric.image %}
                <img lass="img-thumbnail"
                     src="{% thumbnail rubric.image 'default' %}">
            {% else %}
                <img class="img-thumbnail"
                     src="{% static 'main/empty.jpg' %}">
            {% endif %}
        </a>
    </div>
    <br>
    <p class="font-italic">{{ rubric.description }}</p>
    <div class="container-fluid mЬ-2">
        <div class="row">
            <div class="col">&nbsp;</div>
            <form class="col-rnd-auto form-inline">
                {% bootstrap_form form show_label=False %}
                {% bootstrap_button content='Искать' button_type='submit' %}
            </form>
        </div>
    </div>
    <div style="margin-top: 2rem">
        {% if lessons %}
            <div class="list-group">
                {% for lesson in lessons %}
                    {% url 'detail' rubric_pk=rubric.pk pk=lesson.pk as url %}
                    <a href="{{ url }}{{ all }}"
                       class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">{{ lesson.title }}</h3>
                            <small>{{ lesson.created_at }}</small>
                        </div>
                        <p class="mb-1">{{ lesson.content }}</p>
                    </a>
                {% endfor %}
            </div>
            <br>
            {% bootstrap_pagination page url=keyword %}
        {% endif %}
    </div>
{% endblock %}