{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ rubric }}{% endblock %}

{% block searchform %}
{% endblock %}

{% block content %}
    <h2 class="mb-2">{{ rubric }}</h2>
    <p class="font-italic">{{ rubric.description }}</p>
    <a href="{{ url }}{{ all }}">
        {% if rubric.image %}
            <img lass="img-thumbnail"
                 src="{% thumbnail rubric.image 'default' %}">
        {% else %}
            <img class="img-thumbnail"
                 src="{% static 'main/empty.jpg' %}">
        {% endif %}
    </a>
    <div class="container-fluid mЬ-2">
        <div class="row">
            <div class="col">&nbsp;</div>
            <form class="col-rnd-auto form-inline">
                {% bootstrap_form form show_label=False %}
                {% bootstrap_button content='Искать' button_type='submit' %}
            </form>
        </div>
    </div>
    {% if lessons %}
        <ul class="list-unstyled">
            {% for lesson in lessons %}
                <li class="media my-5 р-3 border">
                    {% url 'detail' rubric_pk=rubric.pk pk=lesson.pk as url %}
                    <div class="media-body">
                        <h3><a href="{{ url }}{{ all }}">
                            {{ lesson.title }}</a></h3>
                        <div>{{ lesson.content }}</div>
                        <p class="text-right font-italic">
                            {{ lesson.created_at }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% bootstrap_pagination page url=keyword %}
    {% endif %}
{% endblock %}