{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <h1>Новые уроки:</h1>
    {% if lessons %}
        <div class="list-group" style="margin-top: 1rem">
            {% for lesson in lessons %}
                {% url 'detail' rubric_pk=lesson.rubric.pk pk=lesson.pk as url %}
                <a href="{{ url }}{{ all }}"
                   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">{{ lesson.rubric.name }}
                            - {{ lesson.title }}</h3>
                        <small>{{ lesson.created_at }}</small>
                    </div>
                    <p class="mb-1">{{ lesson.content }}</p>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}